MONGO_URI=mongodb://localhost:27017/maxpool
PORT=5000
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
JWT_SECRET=maxpool_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@maxpool.com
ADMIN_PASSWORD=Admin@123456
